.banner6 {
    margin-top: 200px;
    height: 1000px;
    flex-wrap: wrap;
  }
  .banner6 .top-compnies {
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 600px;
    position: relative;
    bottom: 50px;
    margin: 0 auto 0 auto;
    max-width: calc(100% - 320px);
    
  }
  .banner6 .top-compnies .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner6 .head{
    height: 48px;
  }
  .banner6 .head h1 {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 48px;
  }
  .banner6 .nav .button1 {
    width: 112px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 10px;

  }
  .banner6 .nav .button1 button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 12px;
    background-color: #E7F0FA;
    color:#0A65CC;
    border-radius: 5px;
  }

  .banner6 .banner-card2{
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 200px;
  }
  .banner6 .card-side1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:#E7F0FA 1px solid;
    border-radius: 12px;
    width: 312px;
    height: 200px;
    
  }
  .banner6 .card-side1 .card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .banner6 .card-side1 .compnies{
    display: flex;
    align-items: center;
  }
  .banner6 .card-side1  .details{
    display: flex;
    flex-direction: column;
    
    margin-left: 20px;
    width: 165px;
    height: 54px;
    gap: 6px;
    
  }
  
  .banner6 .card-side1 .details .head{
    width: 165px;
    height: 28px;
    display: flex;
    gap: 8px;    
  }
  .banner6 .card-side1 .details .head h1{
    line-height: 28px;
    font-size: 18px;
    transition: .4s;
  }
  .banner6 .card-side1 .details .head p{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #E05151;
    text-align: center;
    height: 26px;
    padding:  12px;
    border-radius: 52px;
    background-color: #FCEEEE;
  }
  .banner6 .card-side1 .details .caption{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    color: #636A80;
  }
  .banner6 .card-side1 .card button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 248px;
    height: 48px;
    border-radius: 3px;
    gap: 12px;
    background-color: #E7F0FA;
    color: #0A65CC;
    transition: .4s;
  }
  .banner6 .banner-card2 .card-side1:hover{
    background-color: white;
    border: #0a65cc solid 1px;
  }
  .banner6 .banner-card2 .card-side1:hover button{
    background-color: #0a65cc;
    color: white;
  }